{% extends "myapp/base.html" %}

{% block title %} Doc {% endblock %}

{% block content %}
<fieldset style="padding: 10px; width: 70%;">
  <legend>Dokumentacja Projektowa</legend>
 Projekt wykorzystuje środowisko Django do wizualizacji parametrów LTE dotyczących mobilności pomiędzy różnymi warstwami
   <br>   1) do bazy SQLite3 są importowane parametry z pliku
      <br> 2) Aplikacja umożliwia przeglądania parametrów dla poszczególnych warstw lub wszystkie warstwy w postaci zbiorczej tabeli
      <br> 3) Aplikacja może zostać rozbudowana o wizualizacje innych parametrów
      <br> 4) Do zrobienia aplikacji została wykorzystana wiedza zdobyta podczas zajęć plus dodatkowa wiedza potrzebna do zrobienia specyficznych funkcjonalności
    <br> 5) Aplikacja dostępna jest pod adresm http://127.0.0.1:8000/
     6) Projekt został umieszczony na github pod linkiem https://github.com/misokolow/wsb_project



</fieldset>

{% endblock %}